@page "/"

<PageTitle>10</PageTitle>


<h1>10</h1>

<ul role="list" class="checklist">
  @for (int ii = 0; ii < 10; ++ii)
  {
      var index = ii;
      var edit = model.Edits[index];
      var id = edit.Id;
      var todo = model.Todos[id];

      var editId = "edit" + ii;
      var otherId = "other" + ii;

      var editTodo = edit.Todo;
      <li @key="@id" class="unchecked" role="listitem">
        <ul class="todo" role="list">
          <li role="presentation">
            <div class="todo-title">
              @(string.IsNullOrEmpty(todo.Title) ? "..." : todo.Title)
            </div>
          </li>
          <li role="listitem">
            <Disclosure
              Id = "@editId"
              Open="@(editTodo is not null)"
              OnClick="@(() => model.EditClick(index))">
              <Summary>
                Edit
              </Summary>
              <ChildContent>
                <EditForm Model="@edit" OnValidSubmit="@(() => model.Edit(index))">
                  <DataAnnotationsValidator />
                  <ValidationSummary />
                  <div class="edit">
                    <InputText class="input" @bind-Value="@editTodo.Title"/>
                    <Button type="submit">
                      <Icon>✓</Icon>
                      <ChildContent>
                        Submit
                      </ChildContent>
                    </Button>
                  </div>
                </EditForm>
              </ChildContent>
            </Disclosure>
          </li>
          <li role="presentation">
            <Disclosure
              Id = "@otherId"
              Open="@(edit.OtherOpen)"
              OnClick="@(() => model.OtherClick(index))">
              <Summary>
                Other
              </Summary>
              <ChildContent>
                <ul class="controls">
                  <li role="listitem">
                    <Button OnClick="@(() => model.Archive(index))">
                      <Icon>✓</Icon>
                      <ChildContent>
                        Archive
                      </ChildContent>
                    </Button>
                  </li>
                  <li role="listitem">
                    <Button>
                      <Icon>X</Icon>
                      <ChildContent>
                        Stuff
                      </ChildContent>
                    </Button>
                  </li>
                </ul>
              </ChildContent>
            </Disclosure>
          </li>
        </ul>
      </li>
      }
</ul>

<h2>Archive</h2>
<ul>
@foreach (var id in model.Archived)
{
var todo = model.Todos[id];
<li @key="@id">
  @todo.Title
</li>
}
</ul>

@code {
    private readonly TodoListModel model = new();

    private void KeyDown(KeyboardEventArgs args)
     {
       if (args.AltKey || args.CtrlKey || args.MetaKey || args.ShiftKey)
       {
          return;
       }

       switch (args.Code)
       {
       case "ArrowLeft":
          Console.WriteLine("focus left");
          break;
       case "ArrowRight":
          Console.WriteLine("focus right");
          break;
       }
     }
}
