<div>
  <button class="button" type="button" id="@id" @onclick="@OnClick" @attributes="@AdditionalAttributes">
    <span aria-hidden="true">@Icon</span>
  </button>
  <label class="label" for="@id">@ChildContent</label>
</div>

@code {
  [Parameter]
  public RenderFragment? Icon { get; set; }
  [Parameter]
  public RenderFragment? ChildContent { get; set; }
  [Parameter]
  public EventCallback OnClick { get; set; }

  [Parameter(CaptureUnmatchedValues = true)]
  public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  private readonly Guid id = Guid.NewGuid();
}
