<div>
  <div class="summary">
    <button
      id="@Id" @onclick="@OnClick"
      aria-controls="@Id-group"
      aria-expanded="@Open.ToString()">
      <span aria-hidden="true">
        @(Open ? "▼" : "▶")
      </span>
    </button>
    <label id="@Id-label" for="@Id">
      @Summary
    </label>
  </div>
  @if (Open) {
  <fieldset class="menu" id="@Id-group" aria-labelledby="@Id-label">
    <div class="content">
      @ChildContent
    </div>
  </fieldset>
    }
</div>

@code {
  [Parameter]
  public RenderFragment? Summary { get; set; }
  [Parameter]
  public RenderFragment? ChildContent { get; set; }

  [Parameter]
  public bool Open { get; set; } = false;
  [Parameter]
  public EventCallback OnClick { get; set; }

  [Parameter]
  public string Id { get; set; }

}
